#agora_local{
    height: 500px;
    width: 500px;
    display: inline-block;
}
.remote-containers div{
    height: 500px;
    width: 500px;
}

table {
font-family: verdana, helvetica;
   border-collapse: collapse;
   width: 100%;
   background-color: white;
}

td, th {
   border: 1px solid #dddddd;
   text-align: center;
   padding: 4px;
   font-size: 12px;
   color: #333;
   font-family: verdana, helvetica;
}
th{
   background-color: white;
   color: #333;
   padding: 0px;
font-family: verdana, helvetica;
}
tr:nth-child(even) {
   background-color: #dddddd;
}